@page "/"
@namespace BlazorApp.Web.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html id="htmldir">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BlazorApp.Web</title>
    <base href="~/" />
    <link href="_content/Syncfusion.Blazor/styles/bootstrap.css" rel="stylesheet" />
    <link href="_content/DevExpress.Blazor/dx-blazor.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <script src="https://cdn.syncfusion.com/blazor/18.2.47/syncfusion-blazor.min.js"></script>
</head>
<body style="background-color:lightgray">
    <a href="" id="lanbut" onclick="SwithLang()"></a>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script>
        let dir = "ltr";
        let lan = "en";
        let isRTL = false;
        let title = "عربى";
        var lb = document.getElementById("lanbut");
        var hd = document.getElementById("htmldir");
        lb.innerHTML = title;
        function SwithLang() {
            if (!isRTL) {
                dir = "rtl";
                lan = "ar";
                title = "English";
                isRTL = true;
            }
            else {
                dir = "ltr";
                lan = "en";
                title = "عربى";
                isRTL = false;
            }
            lb.innerHTML = title;
            hd.dir = dir;
            hd.lang = lan;
        }
    </script>
</body>
</html>
